input[type="radio"].radio-input{
    display: none;
}

input[type="radio"].radio-input:checked + .label-box, input[type="radio"].radio-input:hover+ .label-box{
    border: 1px solid #670db1;
    background-color: #860aeb18;
}

.label-box{
    border: 1px solid rgb(189, 189, 189);
    width: 130px;
    border-radius: 10px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 23px;
}

.label-icon{
    flex: 1;    
}

.label-info{
    height: 40%;
}

.label-info h4{
    color: #07285a;
}

.label-info p{
    font-size: 14px;
}